@import url(reset.css);
/*  main.css  */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

*{-webkit-text-size-adjust: none;}
body{font-size: 16px;font-family:'Noto Sans KR', sans-serif;; color: #53565b;}
a{text-decoration: none;color: #53565b;}

/*  layout  */
#wrap{position: relative; width: 100%;height: 812px;box-sizing: border-box;}
    #header{width: 375px;box-sizing: border-box;}
    .container{align-items: center; overflow-y: auto; width:  375px;height: 722px;padding: 20px 0 0 16px ;background: #f2f2f2; box-sizing: border-box;}
        .container::-webkit-scrollbar{width: 10px;}
        .container::-webkit-scrollbar-thumb{background-color:transparent;}
    .control_bar{position: fixed;top: 722px;left: 16px; width: 343px;height: 70px;z-index: 50; box-sizing: border-box;}

/*  header  */
.header_wrap{display: flex;flex-direction: row; width: 100%;height: 90px;padding-top: 37px; background: #ffe284;box-sizing: border-box;}
h1{width: 120px;height: 36px;margin-left: 94px; font-size: 25px;font-weight: bold;letter-spacing: 0.68px;order: 2;}
.header_wrap p{width: 30px;height: 30px;margin-left: 16px;}
.header_wrap p a{display: block;font-size: 30px;line-height: 35px;color: #000;}

/*  container  */
.container > h2{margin-bottom: 23px; padding-top: 10px; font-size: 18px;font-weight: bold;letter-spacing: -1.22px;opacity: 0;animation: ani2 0.4s linear 0s forwards;}
.container > article{display: flex;flex-direction: column;width: 343px;height: 110px;margin-bottom: 20px; padding: 0 15px 10px 15px;border-bottom: 2px solid #ccc; box-sizing: border-box;opacity: 0;}

/*  article  */
.container > article:nth-of-type(1){animation: ani1 0.3s ease 0.4s forwards;} 
.container > article:nth-of-type(2){animation: ani1 0.3s ease 0.6s forwards;} 
.container > article:nth-of-type(3){animation: ani1 0.3s ease 0.8s forwards;} 
.container > article:nth-of-type(4){animation: ani1 0.3s ease 1s forwards;} 
.container > article:nth-of-type(5){animation: ani1 0.3s ease 1.2s forwards;} 
.container > article:nth-of-type(6){animation: ani1 0.3s ease 1.4s forwards;} 
.container > article:nth-of-type(7){animation: ani1 0.3s ease 1.6s forwards;} 
.container > article:nth-of-type(8){animation: ani1 0.3s ease 1.8s forwards;} 
.container > article:nth-of-type(9){animation: ani1 0.3s ease 2s forwards;} 
.container > article:nth-of-type(10){animation: ani1 0.3s ease 2.2s forwards;} 

.container > article a{display: flex;width: 313px;height: 80px;box-sizing: border-box;}
.container > article a div.img_box{position: relative; width: 96px;height: 80px;border-radius: 20px;box-sizing: border-box;}
.container > article a div.img_box:after{content: "";display: block;position: absolute;width: 96px;height: 80px;border-radius: 20px;border: 1px solid rgba(0,0,0,0); transition: all 0.4s linear 0s;}
.container > article:hover a div.img_box:after{border: 1px solid rgba(0,0,0,0.4);transform: scale(0.85);}
.container > article:nth-of-type(1) a div.img_box{background: url(../images/free1.jpg) no-repeat center center/cover;}
.container > article:nth-of-type(2) a div.img_box{background: url(../images/free2.jpg) no-repeat center center/cover;}
.container > article:nth-of-type(3) a div.img_box{background: url(../images/free3.jpg) no-repeat center center/cover;}
.container > article:nth-of-type(4) a div.img_box{background: url(../images/free4.jpg) no-repeat center center/cover;}
.container > article:nth-of-type(5) a div.img_box{background: url(../images/free5.jpg) no-repeat center center/cover;}
.container > article:nth-of-type(6) a div.img_box{background: url(../images/free6.jpg) no-repeat center center/cover;}
.container > article:nth-of-type(7) a div.img_box{background: url(../images/free7.jpg) no-repeat center center/cover;}
.container > article:nth-of-type(8) a div.img_box{background: url(../images/free8.jpg) no-repeat center center/cover;}
.container > article:nth-of-type(9) a div.img_box{background: url(../images/free9.jpg) no-repeat center center/cover;}
.container > article:nth-of-type(10) a div.img_box{background: url(../images/free10.jpg) no-repeat center center/cover;}

.container > article a div.txt_box{width: 192px;height: 80px;margin-left: 25px; box-sizing: border-box;font-size: 16px;letter-spacing: -1.09px;}
.container > article a div.txt_box h3{font-size: 17px;font-weight: 500;}

.container > article:nth-of-type(1) a h3{animation: ani3 1s linear 2s infinite;transform-origin: center;}

.container > article > div{display: flex;width: 140px;height: 20px;margin-left: 170px; box-sizing: border-box;}
.container > article > div p{font-size: 13px;letter-spacing: -0.88px;}
.container > article > div p:first-of-type{margin-right: 20px;}

.container > div{display: flex;width: 95px;height: 20px; margin: 50px 0 100px 124px;}
.container > div > p{margin-right: 20px;font-size: 13px;}
.container > div > p:last-child{margin-right: 0;}
.container > div > p i{font-size: 16px;}
.container > div > p.on i{font-size: 16px;color: #000;}

/*  control_bar  */
.control_bar > ul{width: 100%;height: 100%;border-radius: 35px;background: #ffe284;box-sizing: border-box;opacity: 0;animation: ani2 0.5s linear 1.5s forwards;}
.control_bar ul{display: flex;padding: 10px 39px;}
.control_bar ul li{margin-right: 20px;}
.control_bar ul li:last-of-type{margin-right: 0;}
.control_bar ul li a{display: block;width: 50px;height: 45px;text-indent: -9999px;overflow: hidden;transition: all 0.4s linear 0s }
.control_bar ul li:nth-of-type(1) a{background: url(../images/icon_home.png) no-repeat 0 0;}
.control_bar ul li:nth-of-type(2) a{background: url(../images/icon_srch_w.png) no-repeat 0 0;}
.control_bar ul li:nth-of-type(3) a{background: url(../images/icon_board.png) no-repeat 0 0;}
.control_bar ul li:nth-of-type(4) a{background: url(../images/icon_mypage.png) no-repeat 0 0;}

.control_bar ul li:nth-of-type(1):hover a{background: url(../images/icon_home_b.png) no-repeat 0 0;}
.control_bar ul li:nth-of-type(2):hover a{background: url(../images/icon_srch_bb.png) no-repeat 0 0;}
.control_bar ul li:nth-of-type(3):hover a{background: url(../images/icon_board_b.png) no-repeat 0 0;}
.control_bar ul li:nth-of-type(4):hover a{background: url(../images/icon_mypage_b.png) no-repeat 0 0;}

.btn_write a{position: fixed;top: 646px;left: 300px; width: 60px;height: 60px;border-radius: 30px;box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2); background: #000 url(../images/plus.png) no-repeat 0 0;text-indent: -9999px;overflow: hidden;opacity: 0;animation: ani2 0.5s linear 2s forwards;}

@keyframes ani1 {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes ani2 {
    0%{transform: translateY(20px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}

@keyframes ani3 {
    0%{transform: rotateY(-15deg);}
    100%{transform: rotateY(15deg);}
}

















